/* font start*/
@font-face {
  font-family: "segoeui-example";
  src: url("./fonts/Segoeui/segoeui.woff") format("woff"), /* Modern Browsers */
    url("./fonts/Segoeui/segoeui.otf") format("otf"),
    url("./fonts/Segoeui/segoeui.svg") format("svg"),
    url("./fonts/Segoeui/segoeui.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
/* font end*/



/* style start*/
body {
  margin: 0;
  font-family: "segoeui-example", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  background-color: #282c34;
}


/* profile section start */
.allWrapper {
  min-height: 100vh;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
}

.profileWrapper {
  display: block;
  margin-top: -4%;
}

.profile  {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_img {
  width: 195px;
  height: 225px;
  margin-bottom: 5px;
}

h1 {
  margin: 0;
  font-size: 29px;
  font-weight: 400;
  color: white;
}
/* profile section start */


/* Data section start */
.dataWrapper {
  margin-top: 19px;
}

ul.data_ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 57px;
  margin-top: 40px;
}

li.data_li {
  min-width: 303px;
  list-style: none;
  padding-bottom: 22px;
}

a.data_a {
  display: flex;
  text-decoration: none;
}

img.data_img {
  width: 50px;
  height: 50px;
}

span.data_span {
  margin-left: 11px;
  margin-top: -4px;
  text-align: left;
}

h2.data_h2 {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  color: white;
}

p.data_p {
  margin: 0;
  color: white;
  font-size: 16px;
  margin-top: 10px;
}

ul.language {
  display: flex;
  justify-content: center;
}

li {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  padding-right: 6px;
  color: #48443e;
}
/* Data section end */
/* style end*/


/*prealoader start*/
.app_loader {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: #282c34;
}

.app_pulse:empty {
  position: relative;
  left: 50%;
  top: 50vh;
  margin-left: -40px;
  margin-top: -40px;
}

  .app_pulse:empty::before, .app_pulse:empty::after {
    content: '';
    border: 5px solid white;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 500px;
       -moz-border-radius: 500px;
            border-radius: 500px;
    position: absolute; }
  .app_pulse:empty::before {
    -webkit-animation: pulse-outer .8s ease-in infinite;
            -moz-animation: pulse-outer .8s ease-in infinite;
              -o-animation: pulse-outer .8s ease-in infinite;
         animation: pulse-outer .8s ease-in infinite; }
  .app_pulse:empty::after {
    -webkit-animation: pulse-inner .8s linear infinite;
            -moz-animation: pulse-inner .8s linear infinite;
              -o-animation: pulse-inner .8s linear infinite;
         animation: pulse-inner .8s linear infinite; }

@-webkit-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@-moz-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@-o-keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@keyframes pulse-outer {
  0% {
    opacity: 1;
    filter: alpha(opacity=100); }
  50% {
    opacity: 0.5;
    filter: alpha(opacity=50); }
  100% {
    opacity: 0;
    filter: alpha(opacity=0); } }

@-webkit-keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            transform: scale(1); } }

@-moz-keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            -moz-transform: scale(0);
         transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            -moz-transform: scale(1);
         transform: scale(1); } }

@-o-keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            -o-transform: scale(0);
       transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            -o-transform: scale(1);
       transform: scale(1); } }

@keyframes pulse-inner {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transform: scale(0);
            -moz-transform: scale(0);
              -o-transform: scale(0);
         transform: scale(0); }
  100% {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: scale(1);
            -moz-transform: scale(1);
              -o-transform: scale(1);
         transform: scale(1); } }
/*prealoader start*/


/* @media query  start*/
/*==========  iPad в landscape  ==========*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

  .profileWrapper {
    margin-top: -7%
  }

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {

  .profileWrapper {
    margin-top: -15%;
  }

}

/* @media query  end*/
